{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "resources": [
      {
        "type": "Microsoft.Web/staticSites",
        "apiVersion": "2022-09-01",
        "name": "SWA NAME",
        "location": "East US 2",
        "properties": {
          "repositoryUrl": "REPO URL",
          "branch": "main",
          "buildProperties": {
            "appLocation": "/swa",
            "outputLocation": "build"
          }
        },
        "sku": {
          "name": "Free",
          "tier": "Free"
        }
      }
    ]
  }
  